<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- mybatis的XML配置文件, 详情可参考: http://www.mybatis.org/mybatis-3/zh/configuration.html -->
<configuration>
    <typeAliases>
        <package name="us.waw.itachi.entity"/>
    </typeAliases>

    <!--<mappers>-->
        <!--&lt;!&ndash;<mapper resource="org/mybatis/example/BlogMapper.xml"/>&ndash;&gt;-->
        <!--<mapper resource="mybatis-mybatis-mappers/UserMapper.xml"/>-->
    <!--</mappers>-->
</configuration>